
<% if @artist.errors.any? %>
    <div id="error_explanation">
    <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </div>
<% end %>
<%= form_for @artist do |f| %>
<h3>Artist Info:</h3>
<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  
</div>

    <br>
    <%= f.submit "Add to collection" %>
<% end %>