
<% if @album %>
    <% if @album.errors.any? %>
    <div id="error_explanation">
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
<% end %>
<hr>


<h2>Albums by <%= @artist.name %>:</h2>

  

<hr>
    <%= render @artist.albums %>

<hr>

<h2>Add an album:</h2>
<%= render 'albums/form', album: @artist.albums.build %>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>